.carousel.css {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  height: 150px;
}

.image-size {
  height: 85vh;
}

.slide-1 {
  background-image: asset-url(indian_cuisine);
  background-position: center;
  background-size: cover;
}

.slide-2 {

  background-position: center;
  background-size: cover;
}

.slide-3 {
  background-position: center;
  background-size: cover;
}

.slide-4 {
  background-position: center;
  background-size: cover;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}

.btn-main {
  color: #ffffff;
  font-weight: 500;
  border-color: rgb(136, 174, 141);
  background-color: rgb(136, 174, 141);
  border-radius: 10px;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
}

.btn-book {
  color: #ffffff;
  font-weight: 500;
  border-color: rgb(136, 174, 141);
  background-color: rgb(136, 174, 141);
  border-radius: 10px;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 5px 60px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 3px 6px #000000;
}

.btn-book2 {
  color: #ffffff;
  font-weight: 400;
  border-color: rgb(136, 174, 141);
  background-color: rgb(136, 174, 141);
  border-radius: 10px;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 5px 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 3px 6px #000000;


}


.btn-book2:hover {
  border-color: rgb(51, 124, 93);
  background-color: rgb(51, 124, 93);
  color: #fff;

}




.btn-book:hover {
  border-color: rgb(51, 124, 93);
  background-color: rgb(51, 124, 93);
  color: #fff;
 }

 .btn-see-more {
  color: #fff;
  font-weight: 500;
  border-color: rgb(136, 174, 141);
  background-color: rgb(136, 174, 141);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.card {
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}

 #heroSlider h6::after,
 #heroSlider h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
 }

 .h2 {
  font-family: 'Poppins', sans-serif;
 }
