<div class="d-flex justify-content-center mt-5">
  <div class="card mx-2" style="max-width: 540px; background-color: white;">
    <div class="row g-0">
     <div class="col-md-4 mb-4">
        <%= cl_image_tag('4s1yhhx7hbjeipdz9ch4hko53i76', style: 'height:200px;width:170px;', class:"Antonio")%>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><strong>António Quaresma </strong></h5>
          <p class="card-text">António é considerado um dos melhores cozinheiros da zona Lisboeta. </p>
        </div>
      </div>

    </div>
  </div>

  <div id="card_ken"class="card mx-2" style="max-width: 540px; background-color: white;">
    <div class="row g-0">
    <div class="col-md-4 mb-4">
      <img src='https://res.cloudinary.com/dxl592x6b/image/upload/v1692788942/edob4vhapk8fffbarzkz.jpg' alt="" style = "height:200px;width:170px" class = "Kenneth">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><strong>Kenneth Stuen </strong></h5></h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
