<!--carousel-->

   <div id="heroSlider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item text-center bg-cover image-size active  slide-1"style="background-image: url('https://res.cloudinary.com/dxl592x6b/image/upload/v1692790216/indian_cuisine-1-transformed_wphjox.jpg');">
                <div class="container h-100 d-flex align-items-center justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h3 class="display-6 my-3 text-white">THE PERFECT MEAL MADE IN YOUR HOME</h3>
                            <a href="<%= chef_offers_path %>" class="btn btn-book btn-lg">BOOK A CHEF</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item text-center bg-cover image-size slide-2" style="background-image: url('https://res.cloudinary.com/dxl592x6b/image/upload/v1692788762/qjmyjg1afc4wo5ahhwlx.jpg');">
                <div class="container h-100 d-flex align-items-center justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h3 class="display-6 my-3 text-white">THE PERFECT MEAL MADE IN YOUR HOME</h3>
                            <a href="<%= chef_offers_path %>" class="btn btn-book btn-lg">BOOK A CHEF</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item text-center bg-cover  image-size slide-3" style="background-image: url('https://res.cloudinary.com/dxl592x6b/image/upload/v1692784838/og5ks5yvkmqqprr4rnap.jpg');">
                <div class="container h-100 d-flex align-items-center justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h3 class="display-6 my-3 text-white">THE PERFECT MEAL MADE IN YOUR HOME</h3>
                            <a href="<%= chef_offers_path %>" class="btn btn-book btn-lg">BOOK A CHEF</a>
                        </div>
                    </div>
                </div>

            <div class="carousel-item text-center bg-cover  image-size slide-4" style="background-image: url('https://res.cloudinary.com/dxl592x6b/image/upload/v1692787473/italian_cuisine_elcurq.jpg');">
                <div class="container h-100 d-flex align-items-center justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h3 class="display-6 my-3 text-white">THE PERFECT MEAL MADE IN YOUR HOME</h3>
                            <a href="<%= chef_offers_path %>" class="btn btn-book btn-lg">BOOK A CHEF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
