<h2 class="header-chefs text-center mt-4 mb-2 hr-lines"><strong>Featured Chefs:</strong></h2>

  <div class="newcard">
    <div class="imagechefs">
        <img src="https://res.cloudinary.com/dxl592x6b/image/upload/v1692829974/230810_20Le_20Wagon_73-X3_abupes.jpg" style = "height: 330px ; width: auto">
    </div>
    <div class="title">
 <h1><strong>António Quaresma </strong></h1>
    </div>
      <div class="des">
          <p>Embark on a journey through Indian cuisine with our skilled chef.
          Mixing spices and traditions, Indian cooking is a tantalizing adventure.</p>
          <button class="btn btn-see-more mb-2">See More...</button>
      </div>
  </div>

<!--cards -->


  <div class="newcard">
    <div class="imagechefs">
    <img src="https://res.cloudinary.com/dxl592x6b/image/upload/v1692788942/edob4vhapk8fffbarzkz.jpg" style = "height: 330px ; width: auto">
      </div>
      <div class="title">
      <h1><strong>Kenneth Stuen </strong></h1>
      </div>
      <div class="des">
        <p>Embark on a journey through Chinese cuisine with our skilled chef.
        Aromatic spices and diverse techniques make Chinese cooking an exquisite adventure.</p>
        <button class="btn btn-see-more mb-2">See more...</button>
      </div>
  </div>

<!--cards -->


  <div class="newcard">
    <div class="imagechefs">
    <img src="https://res.cloudinary.com/dxl592x6b/image/upload/v1692798130/development/1xa77mq7m1gt93tn3zmz4ulkb4m9.jpg" style = "height: 330px ; width: auto">
    </div>
      <div class="title">
          <h1><strong>Marlene Vieira </strong></h1>
      </div>
      <div class="des">
        <p>Marlene Vieira expertly combines Portuguese and Japanese influences, crafting unique sushi that marries traditional techniques with bold flavors.</p>
        <button class="btn btn-see-more mb-2">See more...</button>
      </div>
  </div>

<!--cards -->


  <div class="newcard">
    <div class="imagechefs">
      <img src="https://res.cloudinary.com/dxl592x6b/image/upload/v1692798128/development/ug3s6lgtcwaw6rc6drxemgvi6ijg.jpg" style = "height: 330px ; width: auto">
    </div>
      <div class="title">
        <h1><strong>Jose Avillez</strong></h1>
      </div>
        <div class="des">
          <p>José Avillez, an influential force in Portuguese cuisine, seamlessly combines tradition and innovation to create a culinary journey.</p>
          <button class="btn btn-see-more mb-2">See more...</button>
      </div>
  </div>
