<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white shadow py-3">
  <div class="container">
    <a class="navbar-brand" href="#">
    <%= image_tag 'image1', class: "avatar" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link" href="#home">Chefly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#chefs">Chefs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Cuisines">Cuisines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Bookings">Bookings</a>
        </li>
      </ul>
      <a href="#" class="btn btn-brand">Login</a>
    </div>
  </div>
</nav>

 
