<hr class="solid">
<section>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h5 hr id ="second-hr-lines" class="mb-4 mt-3 display-6 "><strong>Reviews:</strong></h5>
    </div>
  </div>

  <div class="row text-center d-flex align-items-stretch">
    <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #88AE8D;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h5 class="mb-4">Maria Smantha</h5>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Chef-quality dining at home! Chefly has revolutionized the way I enjoy meals. The platform's ease of use and variety of talented chefs to choose from make every occasion special.
            From intimate dinners to family gatherings, Chefly brings the gourmet experience right to your doorstep.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #88AE8D;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h5 class="mb-4">Lisa Cudrow</h5>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Convenience meets culinary excellence.
            Chefly provides a unique service that lets you savor restaurant-level dishes without leaving your house. I've had the pleasure of trying multiple chefs through Chefly, and each time, the experience has been delightful.
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #88AE8D;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h5 class="mb-4">John Smith</h5>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Unforgettable events made easy!
            Thanks to Chefly, hosting events has become a breeze. The platform offers a diverse range of chefs who cater to various cuisines and dietary preferences.
            I recently booked a chef for a special anniversary dinner, and it was an evening to remember.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
