.card {
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}

.btn-see-more {
  color: #fff;
  font-weight: 500;
  border-color: rgb(136, 174, 141);
  background-color: rgb(136, 174, 141);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
