.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  color: rgba(0,0,0,0.3);
  margin-top: 10px;
  position:sticky;
  bottom:0;
  width: 100vw;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(136, 174, 141);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 15px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: rgb(136, 174, 141);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
